body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.primecolor{
    color: #004080;
}

.textprimecolor{
    color:#272829;
}

.secondarycolor{
    color: #2B5198;
}

.whitecolor{
    color: #efefef !important;
}

.primebackground{
    background-color: #004080 !important;
}
.secondarybackground{
    background-color: #2B5198 !important;
}


/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/
.btn-primary{
    background-color: #004080 !important;
    color: #efefef !important;
    border-color: #efefef !important;
}

.btn-secondary{
    background-color: transparent !important;
    color: #004080 !important;
    border-color: #004080 !important;
}



.btn-more{
    background-color: #004080 !important;
    border-color: #004080 !important;
    color: #efefef !important;
}

.hr-title{
    margin-left: 30% !important; 
    margin-right: 30% !important; 
    height: 5px !important;
    border-radius: 10px !important;
    border-color: #004080 !important;
    background-color: #004080 !important;
    border-color: #004080 !important;
    opacity: 1 !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}

.btn-card-inline{
    background-color: #004080 !important;
    color: #efefef !important;
    font-weight: bold !important;
    border-color: #004080 !important;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px !important;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 20px;
    overflow-y: auto;
  }
  
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 0px;
    }
  }
  


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav{
    background-color: transparent !important;
    background: transparent !important;
}

.nav-title{
    color: #004080 !important;
    opacity: 1 !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    background-color: transparent !important;
}

.nav-item{
    color: #132146 !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
         
.navbar-toggler {
    border-color: #004080 !important;
}
    
.navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 33, 70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*--------------------------------------------------------------
# Loading
--------------------------------------------------------------*/
.sync-alert{
    color:#ffffff !important; 
    background-color:#A52447 !important; 
    border-color:#A52447 !important; 
    border-radius: 50px !important; 
    padding:7px !important; 
    padding-left:10px !important; 
    padding-right: 10px !important; 
    font-size:14px !important;
}

.sync-spinner{
    width:1rem !important;
    height:1rem !important;
}


/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-body p {
    word-wrap: break-word;
}

.modal-tiket {
    font-size:12px;
}

.modal-title {
    color: #424656 !important;
    text-align: left; 
    padding-top:10px; 
    padding-bottom:10px
}

.card-title {
    color: #424656 !important;
    text-align: left; 
    padding-top:0px; 
    padding-bottom:0px;
    margin-bottom: 0px;
    font-size:20px;
}

h3{
    font-weight: bold !important;
    margin-bottom: 0.25rem !important;
}

.form-key{
    font-size: 16px;
    color: #424656;
    font-weight: bold;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/

section {
    padding-top:80px;
    width:100%;
    background-color: #fff;
}

.social-links a {
    padding-top:10px;
    padding-bottom:20px;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 20px;
}


.section-title {
    text-align: left;
}

.section-title h1 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #004080;
    line-height: 1.5;
}

.section-subtitle {
    font-size: 18px;
    text-align: left;
    position: relative;
    color: #efefef;
    padding-bottom: 20px;
}



/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/
.project-section-title{
    font-size: 32px;
    font-weight: bold !important;
    color: #004080;
    line-height: 1.5;
}

.project-title{
    font-size: 18px;
    font-weight: bold !important;
    color: #004080;
    line-height: 1.5;
}

.project-description{
    font-size: 14px;
    line-height: 1.5;
}

.project-link{
    font-size: 10px !important;
    margin-left: 10px;
    margin-left: 10px;
}

.btn-project{
    background-color: transparent !important;
    color: #004080 !important;
    border-color: transparent !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.open-source-project{
    padding-top:60px;
}

.open-source-project h2{
    font-size:24px;
    color: #272829;
    font-weight: bold;
}


/*--------------------------------------------------------------
# Page Info
--------------------------------------------------------------*/

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
  }
  
  .status {
    padding: 0px 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    text-align: center;
  }
  .status h4 {
    font-weight: 400;
    font-size: 14px;
  }
  .status:before {
    content: "";
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
  }
  
  .li.complete .status {
    border-top: 2px solid #66DC71;
  }
  .li.complete .status:before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
  }
  .li.complete .status h4 {
    color: #66DC71;
  }
  
  @media (min-device-width: 320px) and (max-device-width: 700px) {
    .timeline {
      list-style-type: none;
      display: block;
    }
  
    .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
    }
  
    .timestamp {
      width: 50px;
    }
  
    .status:before {
      left: -8%;
      top: 30%;
      transition: all 200ms ease-in;
    }
  }