body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

.primecolor{
    color: #132146;
}

.secondarycolor{
    color: #2B5198;
}

.whitecolor{
    color: #efefef !important;
}

.primebackground{
    background-color: #132146 !important;
}
.secondarybackground{
    background-color: #2B5198 !important;
}

.btn-brand{
    color: #132146 !important;
    background-color: transparent !important;
    border-radius: 25px !important;
}


.btn-more{
    background-color: #132146 !important;
    color: #efefef !important;
    opacity: 0.8 !important;
}


.btn-primary{
    background-color: #132146 !important;
    color: #efefef !important;
    border-color: #efefef !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn-secondary{
    background-color: transparent !important;
    color: #132146 !important;
    border-color: #132146 !important;
    margin-right: 20px;
    margin-bottom: 20px;
}
.hr-title{
    margin-left: 30% !important; 
    margin-right: 30% !important; 
    height: 5px !important;
    border-radius: 10px !important;
    border-color: #132146 !important;
    background-color: #132146 !important;
    border-color: #132146 !important;
    opacity: 1 !important;
    margin-top: 20px !important;
    margin-bottom: 40px !important;
}

.form-key{
    font-size: 16px;
    color: #020230;
    font-weight: bold;
}

.btn-card-inline{
    background-color: #020230 !important;
    color: #efefef !important;
    font-weight: bold !important;
    border-color: #020230 !important;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 10px !important;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 20px;
    overflow-y: auto;
  }
  
  @media (max-width: 992px) {
    #header {
      width: 300px;
      background: #fff;
      border-right: 1px solid #e6e9ec;
      left: -300px;
    }
  }
  
  @media (min-width: 992px) {
    #main {
      margin-left: 0px;
    }
  }
  


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
nav{
    background-color: transparent !important;
    background: transparent !important;
}
.navbar-brand{
    color:#efefef !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
}

.nav-item{
    color: #132146 !important;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}
         
.navbar-toggler {
    border-color: #132146 !important;
}
    
.navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 33, 70, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-body p {
    word-wrap: break-word;
}

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/

section {
    padding-top:80px;
    width:100%;
    background-color: #fff;
}

.social-links a {
    padding-top:10px;
    padding-bottom:20px;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    margin-right: 20px;
}


.section-title {
    text-align: left;
}

.section-title h1 {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: #132146;
    line-height: 1.5;
}


.section-title h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #efefef;
    line-height: 1.5;
}

.section-subtitle {
    font-size: 18px;
    text-align: left;
    position: relative;
    color: #efefef;
    padding-bottom: 20px;
}



/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/
.project-section-title{
    font-size: 32px;
    font-weight: bold !important;
    color: #132146;
    line-height: 1.5;
}

.project-title{
    font-size: 18px;
    font-weight: bold !important;
    color: #132146;
    line-height: 1.5;
}

.project-description{
    font-size: 14px;
    line-height: 1.5;
}

.project-link{
    font-size: 10px !important;
    margin-left: 10px;
    margin-left: 10px;
}

.btn-project{
    background-color: transparent !important;
    color: #132146 !important;
    border-color: transparent !important;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.open-source-project{
    padding-top:60px;
}

.open-source-project h2{
    font-size:24px;
    color: #272829;
    font-weight: bold;
}